/* CSS declarations go here */

.navbar {
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 20px;
	margin-bottom: 10px;
}

.navbar-inner {
	height:40px;
}

div.hero-unit h1 {
	font-size: 21px;
}

div.hero-unit p {
	font-size: 17px;
}

.container-fluid {
	margin-right: 80px;
}

.track-description {
    -o-text-overflow: ellipsis;   /* Opera */
    text-overflow:    ellipsis;   /* IE, Safari (WebKit) */
    overflow:hidden;              /* don't show excess chars */
    white-space:nowrap;           /* force single line */
    width: 200px;                 /* fixed width */
}